In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/por_pessoa_todos tipos/acidentes2017_todas_causas_tipos.csv", sep=";", encoding="ISO-8859-1")

In [6]:
column_values = {}
for c in df.columns:
    if df[c].nunique() < 100:
        values = []
        for v in df[c].unique():
            values.append(v)
        column_values[c] = values
column_values

{'dia_semana': ['domingo',
  'segunda-feira',
  'terça-feira',
  'sexta-feira',
  'quarta-feira',
  'quinta-feira',
  'sábado'],
 'uf': ['PR',
  'SC',
  'GO',
  'PB',
  'TO',
  'RS',
  'PE',
  'PI',
  'CE',
  'MS',
  'SP',
  'BA',
  'SE',
  'DF',
  'RJ',
  'MG',
  'PA',
  'RO',
  'AL',
  'RN',
  'MT',
  'ES',
  'MA',
  'AC',
  'RR',
  'AM',
  'AP'],
 'causa_principal': ['Sim', 'Não'],
 'causa_acidente': ['Fenômenos da Natureza',
  'Falta de Atenção à Condução',
  'Animais na Pista',
  'Avarias e/ou desgaste excessivo no pneu',
  'Ingestão de Álcool',
  'Não guardar distância de segurança',
  'Defeito Mecânico no Veículo',
  'Desobediência às normas de trânsito pelo condutor',
  'Velocidade Incompatível',
  'Restrição de Visibilidade',
  'Falta de Atenção do Pedestre',
  'Condutor Dormindo',
  'Mal Súbito',
  'Pista Escorregadia',
  'Ultrapassagem Indevida',
  'Defeito na Via',
  'Sinalização da via insuficiente ou inadequada',
  'Carga excessiva e/ou mal acondicionada',
  'Objeto estático sobre o leito carroçável',
  'Deficiência ou não Acionamento do Sistema de Iluminação/Sinalização do Veículo',
  'Ingestão de Substâncias Psicoativas',
  'Agressão Externa',
  'Desobediência às normas de trânsito pelo pedestre'],
 'ordem_tipo_acidente': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'tipo_acidente': ['Queda de ocupante de veículo',
  'Colisão com objeto estático',
  'Capotamento',
  'Tombamento',
  'Saída de leito carroçável',
  'Colisão traseira',
  'Atropelamento de Animal',
  'Colisão frontal',
  'Incêndio',
  'Atropelamento de Pedestre',
  'Colisão lateral',
  'Colisão transversal',
  'Derramamento de carga',
  'Colisão com objeto em movimento',
  'Engavetamento',
  'Danos eventuais'],
 'classificacao_acidente': ['Com Vítimas Feridas',
  'Sem Vítimas',
  'Com Vítimas Fatais'],
 'fase_dia': ['Plena Noite', 'Amanhecer', 'Pleno dia', 'Anoitecer'],
 'sentido_via': ['Crescente', 'Decrescente', 'Não Informado'],
 'condicao_metereologica': ['Chuva',
  'Garoa/Chuvisco',
  'Céu Claro',
  'Nublado',
  'Ignorado',
  'Nevoeiro/Neblina',
  'Sol',
  'Vento',
  'Granizo',
  'Neve'],
 'tipo_pista': ['Simples', 'Dupla', 'Múltipla'],
 'tracado_via': ['Reta',
  'Curva',
  'Não Informado',
  'Interseção de vias',
  'Rotatória',
  'Desvio Temporário',
  'Viaduto',
  'Ponte',
  'Retorno Regulamentado',
  'Túnel'],
 'uso_solo': ['Não', 'Sim'],
 'tipo_veiculo': ['Motocicleta',
  'Automóvel',
  'Motoneta',
  'Caminhão',
  'Caminhonete',
  'Utilitário',
  'Camioneta',
  'Caminhão-trator',
  'Carroça-charrete',
  'Bicicleta',
  'Semireboque',
  'Reboque',
  'Micro-ônibus',
  'Ônibus',
  'Outros',
  'Ciclomotor',
  'Trator de rodas',
  'Não Informado',
  'Trator misto',
  'Carro de mão',
  'Trem-bonde',
  'Triciclo',
  'Trator de esteira',
  'Chassi-plataforma',
  'Quadriciclo'],
 'ano_fabricacao_veiculo': [2005.0,
  2003.0,
  2013.0,
  2011.0,
  2004.0,
  2002.0,
  1998.0,
  1996.0,
  nan,
  1983.0,
  2014.0,
  2009.0,
  2015.0,
  2008.0,
  2007.0,
  2016.0,
  1987.0,
  1999.0,
  2000.0,
  2010.0,
  2012.0,
  2006.0,
  1997.0,
  1990.0,
  1993.0,
  1986.0,
  1991.0,
  1995.0,
  2001.0,
  1968.0,
  1985.0,
  1980.0,
  1994.0,
  1992.0,
  1988.0,
  1974.0,
  1989.0,
  1984.0,
  1901.0,
  1977.0,
  1979.0,
  1965.0,
  1900.0,
  2017.0,
  1982.0,
  1971.0,
  1975.0,
  1981.0,
  1973.0,
  1972.0,
  1978.0,
  1970.0,
  1964.0,
  1969.0,
  1976.0,
  1962.0,
  1967.0,
  1966.0,
  1929.0,
  1958.0,
  1951.0,
  1946.0,
  1960.0,
  1963.0,
  1961.0,
  1917.0,
  1959.0],
 'tipo_envolvido': ['Condutor',
  'Passageiro',
  'Pedestre',
  'Testemunha',
  'Não Informado',
  'Cavaleiro'],
 'estado_fisico': ['Lesões Graves',
  'Ileso',
  'Lesões Leves',
  'Óbito',
  'Não Informado'],
 'sexo': ['Masculino', 'Feminino', 'Não Informado', 'Ignorado'],
 'ilesos': [0, 1],
 'feridos_leves': [0, 1],
 'feridos_graves': [1, 0],
 'mortos': [0, 1],
 'regional': ['SR-PR',
  'SR-SC',
  'SR-GO',
  'SR-PB',
  'SR-TO',
  'SR-RS',
  'SR-PE',
  'SR-PI',
  'SR-CE',
  'SR-MS',
  'SR-DF',
  'SR-SP',
  'SR-BA',
  'SR-SE',
  'SR-RJ',
  'SR-MG',
  'SR-PA',
  'SR-RO',
  'SR-AL',
  'SR-RN',
  'SR-MT',
  'SR-ES',
  'SR-MA',
  'SR-AC',
  'SR-RR',
  'SR-AM',
  'SR-AP'],
 'uop': ['UOP05/PR',
  'UOP02/SC',
  'UOP07/PR',
  'UOP01/GO',
  'UOP03/SC',
  'UOP02/GO',
  'UOP04/PB',
  nan,
  'UOP03/RS',
  'UOP01/RS',
  'UOP01/PE',
  'UOP08/PR',
  'UOP02/PI',
  'UOP02/CE',
  'UOP01/SC',
  'UOP01/MS',
  'UOP02/MS',
  'UOP01/SP',
  'UOP02/PR',
  'UOP04/SC',
  'UOP06/PR',
  'UOP04/PR',
  'UOP01/PI',
  'UOP02/BA',
  'UOP01/SE',
  'UOP03/RJ',
  'UOP01/MG',
  'UOP01/RJ',
  'UOP03/MG',
  'UOP01/BA',
  'UOP04/PA',
  'UOP03/PB',
  'UOP02/RJ',
  'UOP04/BA',
  'UOP01/RO',
  'UOP02/AL',
  'UOP01/CE',
  'UOP03/PR',
  'UOP01/RN',
  'UOP01/MT',
  'UOP01/ES',
  'UOP02/MG',
  'UOP00/PB',
  'UOP02/PA',
  'UOP02/RN',
  'UOP02/MT',
  'UOP01/PA',
  'UOP02/MA',
  'UOP01/MA',
  'UOP02/RS',
  'UOP03/SE',
  'UOP01/PR',
  'UOP03/PE',
  'UOP01/AL',
  'UOP03/PI',
  'UOP02/ES',
  'UOP03/MA',
  'UOP03/SP',
  'UOP02/PE',
  'UOP03/BA',
  'UOP03/GO',
  'UOP02/PB',
  'UOP02/SP',
  'UOP01/PB',
  'UOP02/SE',
  'UOP03/CE',
  'UOP04/RJ',
  'UOP04/PE',
  'UOP04/MG',
  'UOP03/PA',
  'UOP04/RS',
  'UOP03/RO',
  'UOP02/RO',
  'UOP03/MS',
  'UOP04/MS',
  'UOP04/MT',
  'UOP05/RS',
  'UOP03/RN',
  'UOP05/PA',
  'NURAM/RJ',
  'UOP04/RO']}

In [7]:
df.head()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,...,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
0,8,1.0,2017-01-01,domingo,00:00:00,PR,376.0,112,PARANAVAI,Sim,...,Masculino,0,0,1,0,"-23,09880731","-52,38789369",SR-PR,DEL7/7,UOP05/PR
1,9,955.0,2017-01-01,domingo,00:01:00,SC,101.0,234,PALHOCA,Sim,...,Masculino,1,0,0,0,"-27,8101","-48,6357",SR-SC,DEL8/1,UOP02/SC
2,11,2.0,2017-01-01,domingo,00:00:00,PR,153.0,"56,9",SANTO ANTONIO DA PLATINA,Sim,...,Feminino,0,1,0,0,"-23,36951985","309,93513107",SR-PR,DEL7/7,UOP07/PR
3,11,3.0,2017-01-01,domingo,00:00:00,PR,153.0,"56,9",SANTO ANTONIO DA PLATINA,Sim,...,Masculino,0,1,0,0,"-23,36951985","309,93513107",SR-PR,DEL7/7,UOP07/PR
4,12,1499.0,2017-01-01,domingo,00:00:00,GO,153.0,435,ANAPOLIS,Sim,...,Masculino,0,0,1,0,"-16,27473677","-48,96908998",SR-GO,DEL1/2,UOP01/GO

In [10]:
column_values = {}
for c in df.columns:
    if df[c].nunique() > 1000:
        column_values[c] = df[c].duplicated(keep=False)
column_values

{'id': 0         False
 1         False
 2          True
 3          True
 4         False
           ...
 349062     True
 349063     True
 349064     True
 349065     True
 349066     True
 Name: id, Length: 349067, dtype: bool,
 'pesid': 0         False
 1         False
 2         False
 3         False
 4         False
           ...
 349062    False
 349063    False
 349064    False
 349065    False
 349066    False
 Name: pesid, Length: 349067, dtype: bool,
 'horario': 0         True
 1         True
 2         True
 3         True
 4         True
           ...
 349062    True
 349063    True
 349064    True
 349065    True
 349066    True
 Name: horario, Length: 349067, dtype: bool,
 'km': 0         True
 1         True
 2         True
 3         True
 4         True
           ...
 349062    True
 349063    True
 349064    True
 349065    True
 349066    True
 Name: km, Length: 349067, dtype: bool,
 'municipio': 0         True
 1         True
 2         True
 3         True
 4         True
           ...
 349062    True
 349063    True
 349064    True
 349065    True
 349066    True
 Name: municipio, Length: 349067, dtype: bool,
 'id_veiculo': 0         False
 1         False
 2          True
 3          True
 4         False
           ...
 349062     True
 349063     True
 349064     True
 349065    False
 349066    False
 Name: id_veiculo, Length: 349067, dtype: bool,
 'marca': 0         True
 1         True
 2         True
 3         True
 4         True
           ...
 349062    True
 349063    True
 349064    True
 349065    True
 349066    True
 Name: marca, Length: 349067, dtype: bool,
 'latitude': 0         False
 1          True
 2          True
 3          True
 4         False
           ...
 349062     True
 349063     True
 349064     True
 349065     True
 349066     True
 Name: latitude, Length: 349067, dtype: bool,
 'longitude': 0         False
 1          True
 2          True
 3          True
 4         False
           ...
 349062     True
 349063     True
 349064     True
 349065     True
 349066     True
 Name: longitude, Length: 349067, dtype: bool}

In [20]:
df.groupby("pesid").count()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,causa_acidente,...,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
pesid,,,,,,,,,,,,,,,,,,,,,
1.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4.0,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
5.0,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480093.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
480094.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
480095.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
480241.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
480242.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [30]:
df[ df["id"]==289][["pesid","causa_acidente","classificacao_acidente","causa_principal","tipo_acidente", "ordem_tipo_acidente"]]

,pesid,causa_acidente,classificacao_acidente,causa_principal,tipo_acidente,ordem_tipo_acidente
992,2152.0,Ultrapassagem Indevida,Com Vítimas Feridas,Sim,Colisão lateral,1
993,2162.0,Ultrapassagem Indevida,Com Vítimas Feridas,Sim,Colisão lateral,1
994,2221.0,Ultrapassagem Indevida,Com Vítimas Feridas,Sim,Colisão lateral,1
995,2216.0,Ultrapassagem Indevida,Com Vítimas Feridas,Sim,Colisão lateral,1
996,2218.0,Ultrapassagem Indevida,Com Vítimas Feridas,Sim,Colisão lateral,1
997,2174.0,Ultrapassagem Indevida,Com Vítimas Feridas,Sim,Colisão lateral,1
998,2157.0,Ultrapassagem Indevida,Com Vítimas Feridas,Sim,Colisão lateral,1
999,2182.0,Ultrapassagem Indevida,Com Vítimas Feridas,Sim,Colisão lateral,1

In [31]:
df.iloc[0:1000, [0,1,9,10,11,25]]

,id,pesid,causa_principal,causa_acidente,ordem_tipo_acidente,estado_fisico
0,8,1.0,Sim,Fenômenos da Natureza,1,Lesões Graves
1,9,955.0,Sim,Falta de Atenção à Condução,1,Ileso
2,11,2.0,Sim,Animais na Pista,1,Lesões Leves
3,11,3.0,Sim,Animais na Pista,1,Lesões Leves
4,12,1499.0,Sim,Avarias e/ou desgaste excessivo no pneu,1,Lesões Graves
...,...,...,...,...,...,...
995,289,2216.0,Sim,Ultrapassagem Indevida,1,Ileso
996,289,2218.0,Sim,Ultrapassagem Indevida,1,Ileso
997,289,2174.0,Sim,Ultrapassagem Indevida,1,Ileso
998,289,2157.0,Sim,Ultrapassagem Indevida,1,Lesões Leves
999,289,2182.0,Sim,Ultrapassagem Indevida,1,Lesões Leves